<!-- 共通レイアウトページ -->
<div class="container">
  <div class="row">
  <% if @book.errors.any? %>
      <%= @book.errors.count %> error prohibited this obj from being saved:<br>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
    <div class="col-md-3">
       <!--切り取りしました。-->
      <!-- current_userのuser info -->
      <%= render 'books/userinfo', user: current_user %>
      <!-- 投稿 -->
      <%= render 'books/new', book: @book %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <table>
          <tr>
            <th><p> </p></th>
            <th><p>Title</p></th>
            <th><p>Opinion</p></th>
          </tr>
          <% @books.each do |book| %>
          <tr>
            <td><span><%= link_to user_path(book.user.id) do %><%= image_tag book.user.get_profile_image(70,70) %><% end %></span></td>
            <td><span><%= link_to book_path(book.id) do %><%= book.title %><% end %></span></td>
            <td><span><%= book.body %></span></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>