<!-- 共通レイアウトページ -->
<p id="notice"></p>
<div class="container">
  <div class="row">
  <% if @book.errors.any? %>
      <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3><br>
      <ul class = "col-12">
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li><br>
        <% end %>
      </ul>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-3">
       <!--切り取りしました。-->
      <!-- current_userのuser info -->
      <%= render 'books/userinfo', user: current_user %>
      <!-- 投稿 -->
      <%= render 'books/new', book: @book %>

    </div>

    <div class="col-md-8 offset-md-1">

      <h2>Books</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <% @books.each do |book| %>
          <tbody>
            <tr>
              <td><span><%= link_to user_path(book.user.id) do %><%= image_tag book.user.get_profile_image(80,80) %><% end %></span></td>
              <td><span><%= link_to book_path(book.id) do %><%= book.title %><% end %></span></td>
              <td><span><%= book.body %></span></td>
              <td colspan="3"></td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>