<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <!-- get_profile_image => user.profileに登録の画像を取出 -->
        <%= image_tag @book.user.get_profile_image(100,100) %>
        <table class="table" >
          <tr><th>name</th><td><b><%= @book.user.name %></b></td></tr>
          <tr><th>introduction</th><td><b><%= @book.user.introduction %></b></td></tr>
        </table>
        <div class="row-m-3">
          <%= link_to edit_user_path(@book.user.id), class: 'btn btn-outline-secondary btn-block' do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>

      <h2 class ="new-book mt-3">New book</h2>
      <%= form_with model: @book1, url:'/books', method: :post do |f| %>
            <p>Title</p>
            <%= f.text_field :title %>
            <p>Opinion</p>
            <%= f.text_area :body %><br>
          <button class="btn btn-success" type="submit">Create Book</button>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <span><%= image_tag @book.user.get_profile_image(70,70) %></span>
        <span><%= link_to book_path(@book.id) do %><%= @book.title %><% end %></span>
        <span><%= @book.body %></span>
        <%= link_to 'Edit', edit_book_path(@book.id) %>
        <%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %><br>
        <%= link_to user_path(@book.user.id) do %><%= @book.user.name %><% end %></span>
    </div>
  </div>
</div>