<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/bb5be40f02.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class= "container">
          <a class="navbar-brand" href="/"><span>Bookers</span></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <a class="nav-link text-light" href="<%= user_path(current_user) %>" >
                <i class="fas fa-house" style="color: #ffffff;"></i> Home
              </a>
            </li>

            <li>
              <a class="nav-link text-light" href="<%= users_path %>" >
                <i class="fa-solid fa-users" style="color: #ffffff;"></i> Users
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="<%= books_path %>" >
                <i class="fa-solid fa-book-open" style="color: #ffffff;"></i> Books
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="<%= destroy_user_session_path %>" data-method="delete" >
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i> Log out
              </a>
            </li>
            <% else %>
            <li>
              <a class="nav-link text-light" href="<%= root_path %>" >
                <i class="fas fa-house" style="color: #ffffff;"></i> Home
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="<%= home_about_path %>" >
                <i class="fa-solid fa-link" style="color: #ffffff;"></i> About
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="<%= new_user_registration_path %>" >
                <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> Sign up
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="<%= new_user_session_path %>" >
                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Log in
              </a>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <main>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
  </main>
    <%= yield %>
  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>
